# Neon Database
DATABASE_URL=postgresql://neondb_owner:npg_8kS1OVtjiETR@ep-delicate-union-am0681d0-pooler.c-5.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# Clerk Auth
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_bmF0aXZlLWVhZ2xlLTk1LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_MhsSYDwJrsOt1qMkx9Dz6jKwZei73lf42f0HpyS3jC

# Clerk redirect URLs
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/booking
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/booking
